{% comment %}
    #This is displayed for login purposes
{% endcomment %}


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Geo Tweet</a>
          <div class="nav-collapse collapse">
            <form class="navbar-form pull-right" action="/login/" method="post">
             {% csrf_token %}
              <input class="span2" name="username" type="text" placeholder="Login/Username">
              <input class="span2" name="password" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>